body {
    margin: 0;
    background: rgb(17,9,23);
    font-family: "Euclid Circular A", "Poppins";
    color: #d6dfed;
  }
  
  html,
  body {
    height: 100%;
  }
  
  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .socials {
    gap: 20px;
  }
  
  .socials a {
    font-size: 24px;
  }
  
  .links {
    gap: 10px;
  }
  
  .legal {
    font-size: 12px;
    margin: 0;
  }
  
  svg {
   position: absolute;
    top: 100rem;
    left: 0;
    width: 100%;
    height: 320px;
    transform: scaleY(3) scaleX(3);
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
  }
  
  footer {
    margin-top: 9rem;
    left: 0;
    bottom: 2px;
    display: flex;
    width: 100%;
    height: 310px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 80px;
    padding-left: 60px;
    width: 100%;
  }
  
  @media (width > 420px) {
    section {
      align-items: center;
      padding-left: 0;
      gap: 20px;
    }
    
    .links {
      gap: 20px;
    }
  }
  
  @media (width < 435px) {
    section {
      margin-top: 8rem;
      align-items: center;
      padding-left: 0;
      gap: 20px;
    }
    footer {
      margin-top: 5rem;
      left: 0;
      bottom: 100px;
      display: flex;
      width: 100%;
      height: 150px;
    }
    svg {
      position: absolute;
      top: 105rem;
      left: 0;
      width: 100%;
      height: 300px;
      transform: scaleY(3) scaleX(2.25);
      transform-origin: bottom;
      box-sizing: border-box;
      display: block;
      pointer-events: none;
    }
    
    .links {
      font-size: 12px;
      gap: 20px;
    }
  }
  @media(width < 835px) {
    footer {
      margin-top: 25rem;
      left: 0;
      bottom: 1px;
      display: flex;
      width: 100%;
      height: 150px;
    }
  }
  @media(width < 1300px) {
    footer {
      margin-top: 24.2rem;
      left: 0;
      bottom: 1px;
      display: flex;
      width: 100%;
      height: 150px;
    }
  }